In [ ]:
import pandas as pd

# leer base de datos
df = pd.read_csv(r'C:\\Users\\kevin\\Downloads\\archive\\rows.csv')

In [ ]:
df

In [ ]:
# Análisis estadístico de los datos
df.describe()

In [ ]:
# Mostrar las primeras 5 filas
print(df.head())

In [ ]:
# Mostrar las filas especificadas
df.tail(10)

In [ ]:
# Mostrar información de base de datos
df.info()

In [ ]:
# Mostrar columnas
df.columns

In [ ]:
# Copiar base de datos
df2 = df.copy()
df2.isnull().sum()

In [ ]:
df3 = df[['fecha reporte web', 'Fecha de notificación', 'Nombre departamento', 'Nombre municipio', 'Edad', 'Sexo']]
df3

In [13]:
df.groupby(['Nombre departamento']).size()

df4 = df.groupby(['Nombre departamento']).count()
df4.loc[:,'ID de caso']

Nombre departamento
AMAZONAS              7879
ANTIOQUIA           955271
ARAUCA               17387
ATLANTICO           141072
BARRANQUILLA        277989
BOGOTA             1888137
BOLIVAR              40336
BOYACA              131133
CALDAS              120029
CAQUETA              25750
CARTAGENA           163526
CASANARE             43302
CAUCA                77337
CESAR               109830
CHOCO                18907
CORDOBA             123095
CUNDINAMARCA        331331
Caldas                   1
Cundinamarca             7
GUAINIA               2795
GUAJIRA              58353
GUAVIARE              5692
HUILA               103578
MAGDALENA            33165
META                108194
NARIÑO              108967
NORTE SANTANDER     126015
PUTUMAYO             22142
Putumayo                 1
QUINDIO              73290
RISARALDA           110235
SAN ANDRES           10402
SANTANDER           297370
STA MARTA D.E.       84863
SUCRE                67471
Santander              162
TOLIMA              127764
Tolima                   1
VALLE               572724
VAUPES                1972
VICHADA               3496
Name: ID de caso, dtype: int64

In [16]:
df5 = df.groupby(['Nombre departamento', 'Nombre municipio']).count()
df5.loc[:, 'ID de caso']

Nombre departamento  Nombre municipio
AMAZONAS             EL ENCANTO (CD)          7
                     LA CHORRERA (CD)        38
                     LA PEDRERA (CD)        116
                     LETICIA               7380
                     MIRITI PARANA (CD)      22
                                           ...
VAUPES               YAVARATE (CD)           43
VICHADA              CUMARIBO               359
                     LA PRIMAVERA           228
                     PUERTO CARREÑO        2771
                     SANTA ROSALIA          138
Name: ID de caso, Length: 1155, dtype: int64